{% extends 'store/adminpages/adminmain.html' %}
{% load static %}
{% block content %}

    <div class="row">

        <div class="col-md-12">
            <h3>All Orders</h3>


            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID </th>
                        <th>Customer</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                        <th>Payment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in allorders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>#T20-{{order.id}}</td>
                        <td>{{order.customer}}</td>
                        <td>{{order.date_ordered|date:"d M Y"}}</td>
                        <td>{{order.get_cart_total|floatformat:2}}</td>
                        <td>{{order.complete}}</td>
                        <td>
                            <form action="{% url 'adminorderstatuschange' order.id  %}" method="POST">
                                {% csrf_token %}
                                <select name="status">
                                    {% for i, j in allstatus %}
                                    <option value="{{i}}" {% if i == order.status %}selected{% endif %}>{{j}}</option>
                                    {% endfor %}
                                </select>
                                <button class=" btn btn-outline-info btn-sm">Update</button>

                            </form>
                        </td>
                        <td><a href="{% url 'adminorderdetail' order.id %}">View Order</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



    </div>



    {% endblock content %}