{% extends 'store/adminpages/adminmain.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="row">
    
        
    

    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'adminstore' %}">&#x2190; Back to Store</a>
        <br>
        <hr>
        
            <form class="form" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-success">Update</button>
            </form>

        </div>
    </div>
</div>
{% endblock content %}