{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'profile' %}">&#x2190; Back to Profile</a>
            <br>
            <br>
            <hr>
            <form method="post" action="{% url 'update_user' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}