{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element" style="width: 60%; margin: 0px auto; text-align: center;">
				<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="btn btn-success">Log in as User</button>
				</form>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'signup' %}" class="ml-2">Sign Up</a>
					</div>
					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							Don't have an account? <a href="{% url 'reset_password' %}" class="ml-2">Forgot
								Password?</a>
						</div>
					</div>

				</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock content %}