{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'profile' %}">&#x2190; Back to Profile</a>
            <br>
            <br>
            <hr>

            <div class="text-center">
                <br>
                <h1 class="text-center product_title">
                    Order History
                </h1>
                <br>
                {% if order_details %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Total Amount</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_details %}
                        <tr>
                            <th>#{{order.id}}</th>
                            <td>{{order.date_ordered|date:"d M Y"}}</td>
                            <td>{{order.get_cart_total|floatformat:2}}</td>
                            <td>{{order.complete}}</td>
                            <td><a href="{% url 'order_detail' order.id %}">View Order</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>You have not placed any orders yet.
                    <br>
                    <br>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}