{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">

    {% if products|length == 0 %}
    <div class="alert alert-warning col-12">
        <strong>
            <h3>No Product Found!</h3>
        </strong>
    </div>
    {% elif products|length > 0 %}

    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.image.url}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add"
                class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float:right;"><strong>&#x20B9;{{product.price|floatformat:2}}</strong>
            </h4>

        </div>
    </div>
    {% endfor %}
    {%endif%}
</div>

{% endblock content %}